<div class="form">
  <mat-card class="card">
    <mat-card-title>Register user</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input
            [(ngModel)]="registerData.name"
            matInput
            placeholder="Name and Lastname"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.email"
            matInput
            type="email"
            placeholder="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.password"
            matInput
            type="password"
            placeholder="Password"
            required
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="registerUser()" class="button" mat-raised-button>
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
