<div class="form">
  <mat-card class="card">
    <mat-card-title>Register task</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input
            [(ngModel)]="taskData.name"
            matInput
            placeholder="Task Name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="taskData.description"
            matInput
            placeholder="Description"
            required
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveTask()" class="button" mat-raised-button>
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
